body {
    background-color: #000
}

#score {
    display: block;
    color: #fff;
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
    margin: 15px auto;
    font-family: 'Press Start 2P', cursive;

}

#pong {
    border: 2px solid #f00;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block
}

p {
    margin: 450px auto 0 auto;
    display: block;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #fff
}